:root {
  --sp-primary-c: #0d9488;
  --sp-text-c: #374151;
  --sp-text-c-1: #595959;
  --sp-bg-c: #f2f2f4;
  --sp-main-bg-c: #ffffff;

  --sp-text-c-dark: #e5e7eb;
  --sp-text-c-dark-1: #acacac;
  --sp-bg-c-dark: #101010;
  --sp-main-bg-c-dark: #18181c;
}
html.dark {
  --sp-text-c: var(--sp-text-c-dark);
  --sp-text-c-1: var(--sp-text-c-dark-1);
  --sp-bg-c: var(--sp-bg-c-dark);
  --sp-main-bg-c: var(--sp-main-bg-c-dark);
}
